.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-preview {
  border: 1px solid #eeee;
  box-shadow: 2px 3px 5px 0px #ebebeb;
  border-radius: 15px;
  width: 400px;
  margin: 20px 0;
  text-align: center;
}
